<div class="depot_form">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  <%= form_tag do  %>
    <fieldset>
      <legend>Please Login</legend>
      <div class="">
      <%= label_tag :name, 'Name: ' %>
      <%= text_field_tag :name, params[:name], class: "form-control" %>
      </div>
    <div class="">
      <%= label_tag :password, 'Password: ' %>
      <%= password_field_tag :password, params[:password], class: "form-control" %>
    </div>
    <div class="">
      <%= submit_tag "Login", class: "btn btn-primary" %>
    </div>
    </fieldset>
  <% end %>
</div>
