Dear <%= @order.name %>

Thank you for your recent order from the Pragmatic Store

Your ordered the following items:

<%= render @order.line_items -%>

We'll send you a separate e-mail when your order is ships.
