<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
  <td><%= line_item.quantity %>&times;</td>
  <td>
    <%= line_item.product.title %></td>
  <td class="item_price"><%= currency_to_locale(line_item.total_price) %></td>
  <% if @order.nil? %>
    <td><%= button_to '+', increase_line_item_path(line_item), method: :put, remote: true %></td>
    <td><%= button_to '-', decrement_line_item_path(line_item), method: :put, remote: true %></td>
  <% end %>
</tr>
