$('#cart').html("<%=j render @cart %>");
$('#current_item').css({'background-color':'#88ff88'}).animate({'background-color':'#114411'}, 1000);
if ($('#cart tr').length==1) {
    // Hide the cart
    $('#cart').hide('blind', 1000);
}
